<!--Type Shift+1-->
<!--Show live server preview-->
<!--Use Ctrl+Q to reset live server, replaced on my keybinding-->

<!--REMEMBER TO ADD THIS OR IT WONT SHOW UP-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login Page</title>
</head>
<body>
<div class="background">  
<header class="header">
        <div class="container">
    <h1>Sign Into: Christian Kim's Blog</h1>
	</div>
    </header>

	<div class="background">
	<div class="login-logout">
    <p><b>
    Sign into my website. This is going to add security controls so only
    authorized users can uses this website. If you don't have a account 
    you can sign up below</b></p>
    
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    
    <b>No Account?</b><br>
    <b><a href="{% url 'signup' %}">Sign Up Here:</a></b>
	</div>
	</div>
	<footer class="footer">
	 <p>2024 June, MaxxPotential Project Showcase</p>
    </footer>
</div>  

</body>
</html>