<!--Type Shift+1-->
<!--Show live server preview-->
<!--Use Ctrl+Q to reset live server, replaced on my keybinding-->

<!--REMEMBER TO ADD THIS OR IT WONT SHOW UP-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Login Page</title>
</head>
<body>
<div class="background">  
<header class="header">
        <div class="container">
    <h1>Sign Into: Christian Kim's Blog</h1>
	</div>
    </header>

	<div class="background">
	<div class="login">
    <p class="welcome"><b>
        Hello! Welcome to my Django blog. This is my first time working with a python
        based web application. I'm continuing to improve my website, so please be patient!
        I added a username/password requirement to prevent unauthorized users from entering 
        my blog. 
        You can sign up for my website to become an authorized user. Once you gain access to the site
        you can learn about the CompTIA sec+ exam, and how I am preparing to study.</b></p>
    
    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    
    <b>No Account?</b><br>
    <b><a href="{% url 'signup' %}"><span class="button"> Sign Up Here:</a></b></span>
	</div>
	</div>
	<footer class="footer">
	 <p>2024 June, MaxxPotential Project Showcase</p>
    </footer>
</div>  

</body>
</html>