<!--Type Shift+1-->
<!--Show live server preview-->
<!--Use Ctrl+Q to reset live server, replaced on my keybinding-->

<!--REMEMBER TO ADD THIS OR IT WONT SHOW UP-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="background">  
    <h1>Sign up for my website: Christian Kim's Blog</h1>

		{% if messages %}
			
			{% for message in messages %}
			<p>{{message}}</p>
			{% endfor %} 
			
		{% endif %}
		<form method="post" action="">
        {%csrf_token %}
		{{form.as_p}}
		<input type="submit" />
		</form>
		</div>
		
</div>  
</body>
</html>