.footer {
  background-color: #C29B9B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.footer a {
  color: #ff7043;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  color: #ff5722;
}

.login, .signup { /* Update both login and signup styles */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;  /* Keep full width */
  max-width: 1000px;  /* Increase max width to make the form wider */
  text-align: left; /* Align content to the left */
  margin: 20px; /* Add margin to center it if needed */
}
