/*Going through each lesson of my html/css course and applying different changes after each lesson*/
/*Deleted my other CSS because I changed my layout, used the default Django login and signup form. Styles the portion for the password, overall background color*/
/*Styles the portion for the username*/
/*Styles the portion for the password, overall background color*/
.background{ /*Sets background to lightgray*/
    background-color: lightgray;
}
.header2{ /*would use h2, but don't want to apply changes to blogpost page*/
	text-align: center;
	padding-bottom: 30px;
	text-decoration: underline;
	font-weight: bold;
}

.about-me-p{
	font-size:16px;
}
.p1{
	font-size: 18px;
	}
.topics-font{
	font-size: 20px;
}
.topics-font-resources{
	font-size: 16px;
}
.lesson7 {
	border: solid;
	padding: 40px;
	background-color: lightyellow;
}
.signup{
	margin-top: 20px;
    background-color: lightgray;
	width: 80%;
	padding-left: 115px;
	padding-top: 20px;
	height: 600px;
}
.background .login{
	font-size: 20px;
	margin: auto;
	width: 50%;
    background-color: lightgray;
	width: 80%;
	padding-left: 115px;
	padding-top: 20px;
	height: 600px;
}
.button{
	background-color: white;
	border: solid;
	padding-right: 15px; /*Implementing the CSS I learned from the course 6/20/2024 night */
	padding-left: 15px;
	padding-top: 8px;
	padding-bottom: 10px;
	border-radius: 14px;
	margin-left: 5px;
	transition: opacity 1s;
	text-decoration: none;
	transition: opacity 2s;

}

.button:hover{
	opacity: 0.8;
}
.button:active{
	opacity: 0.6;
}
.button a{
	text-decoration: none;
}
.login-logout{
	margin-left: 30px;
	padding-bottom: 350px;
	font-size: 20px;
}

body { /*Styles the body of the webpage*/
    font-family: Times, sans-serif;
    line-height: 2;
    margin: 0;
	border: solid; /*Added this 6/20/24, trying to make the website look better*/
    border-color: black; /*Added this 6/20/24, trying to make the website look better*/
}

.imagelink { /*Positions the image link*/
    position: absolute;
    top: 18px; /*Edited this 6/20/24,*/
    left: 5%; /*Edited this 6/20/24,*/
}

.imagelink:hover { /*Edited this 6/20/24,*/
    opacity: 0.5;
}

.imagelink:active{ /*Edited this 6/20/24,*/
	opacity: 0.3;
}

.imagelink img { /*Sets width and height of image*/
    width: 100px; 
    height: 100px; 
	border-radius: 30%; /*Edited this 6/20/24,*/
	
}

.signout { /*Positions the image link*/
    position: absolute;
    top: 20px; /*Edited this 6/20/24,*/
    right: 5%; /*Edited this 6/20/24,*/
	color: white;
	text-align: center;
}

.header1 { /*Changed to use flexbox after going through the course, this will make a flexible layout*/
	display: flex; /* Added a flex container for the header display */
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    background: rosybrown;
    color: white;
    padding: 1rem 0;
    text-align: center;
		border-bottom: solid; /*Added this 6/20/24, trying to make the website look better*/
    border-color: black; /*Added this 6/20/24, trying to make the website look better*/
}

header h1 { /*Sets header margin to 0*/
    margin: 0;
}

nav ul { /*Gets rid of default bullet points and adds padding*/
	display: flex; /*Applying flex to the header navigation links*/
    list-style: none;
    padding: 0;
	justify-content: center; /* Makes the nav links go to the center */
    width: 100%; /* Make the nav take full width */
}

nav ul li {  /*Makes the list horizontal by using inline*/
    display: inline;
    margin: 0 15px;
}

nav ul li a {  /*Styles the hyperlinks to the other pages, sets the link color, removes the links underline*/
    color: #fff;
    text-decoration: none;
}

main { /*Styles the main element*/
    padding: 20px;
    min-height: 400px; 
}

.footer { /*Styles the footer, made footer use flexbox after lesson 12*/
	display: flex; /* Flex container display */
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: lightpink;
	color: white;
	text-align: center;
	border-top: solid; /*Added this 6/20/24, trying to make the website look better*/
    border-color: black; /*Added this 6/20/24, trying to make the website look better*/
}