/*Deleted my other CSS because I changed my layout, used the default Django login and signup form. Styles the portion for the password, overall background color*/
/*Styles the portion for the username*/
/*Styles the portion for the password, overall background color*/
.background{ /*Sets background to lightgray*/
    background-color: lightgray;
}

.login-logout{
	margin-left: 30px;
	padding-bottom: 350px;
}

body { /*Styles the body of the webpage*/
    font-family: Times, sans-serif;
    line-height: 2;
    margin: 0;
	border: solid; /*Added this 6/20/24, trying to make the website look better*/
    border-color: black; /*Added this 6/20/24, trying to make the website look better*/
}

.imagelink { /*Positions the image link*/
    position: absolute;
    top: 18px; /*Edited this 6/20/24,*/
    left: 5%; /*Edited this 6/20/24,*/
}

.imagelink:hover { /*Edited this 6/20/24,*/
    opacity: 0.5;
}

.imagelink:active{ /*Edited this 6/20/24,*/
	opacity: 0.3;
}

.imagelink img { /*Sets width and height of image*/
    width: 100px; 
    height: 100px; 
	border-radius: 30%; /*Edited this 6/20/24,*/
	
}

.signout { /*Positions the image link*/
    position: absolute;
    top: 20px; /*Edited this 6/20/24,*/
    right: 5%; /*Edited this 6/20/24,*/
	color: white;
	text-align: center;
}

.header { /*sets background to rosybrown, text to white, padding */
    background: rosybrown;
    color: white;
    padding: 1rem 0;
    text-align: center;
	border-bottom: solid; /*Added this 6/20/24, trying to make the website look better*/
    border-color: black; /*Added this 6/20/24, trying to make the website look better*/
}

header h1 { /*Sets header margin to 0*/
    margin: 0;
}

nav ul { /*Gets rid of default bullet points and adds padding*/
    list-style: none;
    padding: 0;
}

nav ul li {  /*Makes the list horizontal by using inline*/
    display: inline;
    margin: 0 15px;
}

nav ul li a {  /*Styles the hyperlinks to the other pages, sets the link color, removes the links underline*/
    color: #fff;
    text-decoration: none;
}

main { /*Styles the main element*/
    padding: 20px;
    min-height: 400px; 
}

.footer { /*Styles the footer*/
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: lightpink;
	color: white;
	text-align: center;
	border-top: solid; /*Added this 6/20/24, trying to make the website look better*/
    border-color: black; /*Added this 6/20/24, trying to make the website look better*/
}